---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
	{
		date: 'Jan 2025 - March 2025',
		title: 'AI & Automation Engineer (Freelancer)',
		company: 'Aqua Ads Agency LTD.',
		description:
			'Led development of an AI-driven conversation system using Python and Anthropic SDK that increased user engagement by 40%. Architected dynamic persona framework enabling scalable, automated Web3 community interactions and reducing moderation overhead by 60%.',
	},
	{
		date: 'March 2025 - Present',
		title: 'Full-Stack Developer | Open to Opportunities',
		description:
			'Actively seeking challenging roles to apply my expertise in Web3, AI integration, and full-stack development. Currently enhancing skills through open-source contributions and building innovative personal projects demonstrated in my portfolio.',
	},
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
