<header class="flex items-center justify-center mx-auto mt-4 w-full"> 
	<nav class="flex flex-row gap-x-6">
		<a href="/">Home</a>
		<a href="/#experience">Experience</a>
		<a href="/#projects">Projects</a>
		<a href="/#skills">Skills</a>
		<a href="/#contact">Contact</a>
	</nav>
</header>

<style>
a {
	opacity: 0.9;
}

a:hover {
	opacity: 1;
	color: var(--accent-color-blue);
}
</style>
