---
import Badge from './Badge.astro';
import SocialBadge from './SocialBadge.astro';
import X from './icons/X.astro';
import Mail from './icons/Mail.astro';
import Github from './icons/Github.astro';
---
<div class="flex flex-col sm:flex-row sm:items-center gap-4 mb-6">
	<div class="flex items-center gap-4">
		<img src="profile-pic.webp" alt="Enrique's profile character" class="rounded-full shadow-lg size-16 sm:size-20" loading={"eager"} />
		<a href="mailto:enriquemartin1402@gmail.com" class="flex items-center transition hover:scale-105"><Badge>Available for hiring</Badge></a>
	</div>
</div>

<div class="space-y-4">
	<h1 class="font-bold text-3xl sm:text-4xl md:text-5xl tracking-tight text-white">Hey, I'm Enrique</h1>
	<p class="text-lg sm:text-xl [&>strong]:text-[#f0ee54] [&>strong]:font-semibold text-gray-300">Results-driven <strong>full-stack engineer</strong> crafting scalable <strong>web3</strong> solutions, implementing intelligent <strong>automations</strong>, and leveraging <strong>AI technologies</strong> to solve complex business challenges.</p>
</div>

<nav class="flex flex-wrap mt-6 sm:mt-8 gap-3 sm:gap-4">
	<SocialBadge href="mailto:enriquemartin1402@gmail.com">
		<Mail class="size-4" />
		Contact
	</SocialBadge>
	<SocialBadge href="https://github.com/tyrellw3llick">
		<Github class="size-4" />
		My GitHub
	</SocialBadge>
	<SocialBadge href="https://x.com/tyrell_w3llick">
		<X class="size-4" />
		Follow me
	</SocialBadge>
</nav>
