<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
	class="inline-flex items-center justify-center gap-2 px-4 py-1 transition border rounded-full bg-gray-800 border-gray-600 text-white text-md hover:bg-gray-100 hover:border-gray-300 hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring-yellow-500/80 focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
